project:
  type: website

website:
  title: "Introduction to R"
  page-navigation: true
  open-graph: true
  repo-url: https://github.com/nickhaf/r_tutorial
  repo-actions: [edit]
  navbar:
    search: true
    left:
      - href: index.qmd
        text: Home
      - qmd/setup/setup.qmd
      - qmd/getting_started/the_big_picture.qmd
      - qmd/final_exercise/final_exercise.qmd
    right: 
      - href: https://docs.google.com/document/d/19uUsS9xiAsxmAtblkaPqbdl3m1IxurWKOoPdTc0oymM/edit?usp=sharing
        text: Ask a question
  sidebar: 
    style: "docked"
    search: true
    contents:
      - section: "0) Before the workshop"
        contents:
          - qmd/setup/setup.qmd
      - section: "1) Getting Started"
        contents:
          - section: "Workflow"
            contents:
              - qmd/workflow/workflow.qmd
              - qmd/workflow/workflow_exercise.qmd
          - section: "Overview"
            contents: 
              - qmd/getting_started/the_big_picture.qmd
              - qmd/getting_started/data_sets.qmd
              - qmd/final_exercise/final_exercise.qmd      
      - section: "2) Basics"
        contents:
        - section: "Basics"
          contents:
            - qmd/basics/basics.qmd
            - qmd/basics/tidyverse.qmd
            - qmd/basics/basics_exercise.qmd
        - section: "Data structures"
          contents:
            - qmd/data_structures/data_structures.qmd
            - qmd/data_structures/data_structures_exercise.qmd
        - section: "Packages"
          contents:
            - qmd/packages/packages.qmd
            - qmd/packages/packages_exercise.qmd
        - section: "Loading data"
          contents:
            - qmd/load_data/load_data.qmd
            - qmd/load_data/load_data_exercise.qmd

      - section: "3) Data manipulation and transformation"
        contents:
        - section: "Getting an overview"
          contents: 
            - qmd/peeking/peeking.qmd
            - qmd/peeking/peeking_exercise.qmd
        - section: "Subsetting"
          contents:
            - qmd/subsetting/subsetting.qmd
            - qmd/subsetting/subsetting_exercise.qmd
        - section: "Missings"
          contents:
            - qmd/missing/missing.qmd
            - qmd/missing/missing_exercise.qmd
        - section: "Reshaping"
          contents:
            - qmd/format/format.qmd
            - qmd/format/format_exercise.qmd
        - section: "Merging"
          contents:
            - qmd/merging/merging.qmd
            - qmd/merging/merging_exercise.qmd
        - section: "Functions"
          contents: 
            - qmd/functions/functions.qmd
            - qmd/functions/functions_exercise.qmd
        - section: "Loops and Conditions"
          contents:
            - qmd/loops/loops.qmd
            - qmd/loops/loops_exercise.qmd
      - section: "4) Visualization"
        contents:
          - qmd/plotting/plotting.qmd
          - qmd/plotting/plotting_exercise.qmd
      - section: "5) Additional Resources"
        contents:
          - section: "Cheat Sheets" 
            contents: 
              - href: https://iqss.github.io/dss-workshops/R/Rintro/base-r-cheat-sheet.pdf
                text: "Base R"
              - href: https://www.rstudio.com/wp-content/uploads/2015/02/data-wrangling-cheatsheet.pdf
                text: "Data Wrangling with tidyverse"
              - href: https://rstudio.github.io/cheatsheets/data-visualization.pdf
                text: "Data visualization with ggplot2"
          - section: "Books"
            contents: 
              - href: https://r4ds.hadley.nz/
                text: "R for Data Science"
              - href: https://adv-r.hadley.nz/
                text: "Advanced R"
          - href: https://r-graph-gallery.com/
            text: "R Graph Gallery"
              
format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

editor: visual

execute: 
  freeze: auto 

